<link rel="stylesheet" href="./vendor/blur-admin/auth.css">
<main class="auth-main">
    <div class="auth-block">
        <h1>客服系统</h1>
        <a class="nav-link" v-link='{ path: "/register" }'>注册一个新账号!</a>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">账号</label>

                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="账号、邮箱" v-model="account">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>

                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码" v-model="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default btn-auth" v-on:click="login">登录</button>
                    <a href class="forgot-pass">忘记密码?</a>
                </div>
            </div>
        </form>

        <alert> </alert>
        <!-- <div class="auth-sep"><span><span>or Sign in with one click</span></span></div> -->

        <!-- <div class="al-share-auth">
            <ul class="al-share clearfix">
                <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
                <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
                <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
            </ul>
        </div> -->
    </div>
</main>
