<div class="message-container">
    <div class="message">
      <div class="row">
          <div class="toggle-navigation-container detail-page">
              <a href="" class="collapse-navigation-link ion-navicon"></a>
          </div>
          <button type="button" class="back-button btn btn-default btn-with-icon" v-link="{ name:'ticket-list', params: { status: 'all' } }"><i class="ion-chevron-left"></i>返回</button>
      </div>
        <div class="person-info row">
            <div class="col-md-6 col-xs-12 no-padding">
                <div class="contact-info">
                    <div>
                        <span>工单编号：{{detail.serialNumber}}</span>
                    </div>
                    <div>
                        <span>游戏+版本号：{{detail.gameName}} + {{detail.gameVersion}} </span>
                    </div>
                    <div>
                        <span>游戏大区：{{detail.gameRegion}}</span>
                    </div>

                    <div>
                        <span>问题类型：{{detail.majorCategory}}</span>
                    </div>
                    <div>
                        <span>提交时间：{{detail.createdAt | formatDate}}</span>
                    </div>
                    <div>
                        <span>更新时间：{{detail.updatedAt | formatDate}}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 no-padding">
                <div class="contact-info">
                    <div>
                        <span>平台+渠道：{{detail.platform}} + {{detail.channelName}}</span>
                    </div>

                    <div>
                        <span>通行证ID：{{detail.hoolaiPassportId}}</span>
                    </div>
                    <div>
                        <span>联系电话：{{detail.customerMobile}}</span>
                    </div>
                    <div>
                        <span>工单状态：{{{detail.status | formatTicketStatus}}}</span>
                    </div>
                    <div>
                        <span>客服：{{detail.firstFlowUserName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="line"></div>
        <div class="message-details">
            <span>问题描述：</span>
            <span>{{detail.content}}</span>
        </div>
        <!-- <div class="line"></div>
        <div class="message-body">
            <span>说明图片：</span>
        </div> -->
        <div class="line"></div>
        <div class="attachment">
            <label for="replyContent">客服回复：</label>
            <textarea class="form-control" id="replyContent" v-model="detail.replyContent" :class="{'hide':detail.status>7}"></textarea>
            <span :class="{'hide':detail.status < 7}">{{{detail.replyContent}}}</span>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="attachment">
            <label for="tags">编辑关键字：</label>
            <input type="text" class="form-control input-sm" id="tags" v-model="detail.tags" :class="{'hide':detail.status>7}">
            <span :class="{'hide':detail.status < 7}">{{{detail.tags}}}</span>
        </div>
        <div class="line"></div>
        <div class="answer-container">
            <button type="button" class="btn btn-with-icon" v-on:click="showFlowDo" :class="{'hide': detail.status>=6}"><i class="ion-reply"></i>工单流转</button>
            <button type="button" class="btn btn-with-icon" v-on:click="replyDo" :class="{'hide': detail.status>=6}"><i class="ion-printer"></i>回复用户</button>
        </div>
        <flowlist> </flowlist>
    </div>

    <flow :isshow.sync=showFlow v-on:flow-save="refreshFlow"> </flow>


</div>
