<div class="message-container">
    <div class="message">
      <div class="row">
          <div class="toggle-navigation-container detail-page">
              <a href="" class="collapse-navigation-link ion-navicon"></a>
          </div>
          <button type="button" class="back-button btn btn-default btn-with-icon" v-link="{ name:'ticket-list', params: { status: 'all' } }"><i class="ion-chevron-left"></i>返回</button>
      </div>
        <div class="person-info row">
            <div class="col-md-6 col-xs-12 no-padding">
                <div class="contact-info">
                    <div>
                        <span>用户账号：{{detail.id}}</span>
                    </div>
                    <div>
                        <span>平台:{{detail.channelName}}</span>
                    </div>
                    <div>
                        <span>问题类型：{{detail.tags}}</span>
                    </div>
                    <div>
                        <span>提交时间:{{detail.updatedAt | formatDate}}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 no-padding">
                <div class="contact-info">
                    <div>
                        <span>游戏大区：{{detail.gameRegion}}</span>
                    </div>
                    <div>
                        <span>角色名：逍遥</span>
                    </div>
                    <div>
                        <span>工单状态：{{{detail.status | formatTicketStatus}}}</span>
                    </div>
                    <div>
                        <span>客服：{{detail.firstFlowUserName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="line"></div>
        <div class="message-details">
            <span>问题描述：</span>
            <span class="date">{{detail.content}}</span>
        </div>
        <div class="line"></div>
        <div ng-bind-html="detailCtrl.mail.body" class="message-body">
            <span>说明图片：</span>
        </div>
        <div class="line"></div>
        <div class="attachment" ng-show="detailCtrl.mail.attachment">
            <label for="replyContent">客服回复：</label>
            <textarea class="form-control" id="replyContent" v-model="detail.replyContent"></textarea>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="attachment">
            <label for="tags">编辑关键字：</label>
            <input type="text" class="form-control input-sm" id="tags" v-model="detail.tags">
        </div>
        <div class="line"></div>
        <div class="answer-container">
            <button type="button" class="btn btn-with-icon" v-on:click="showFlowDo" :class="{'hide': detail.status>=6}"><i class="ion-reply"></i>转给运营</button>
            <button type="button" class="btn btn-with-icon" v-on:click="replyDo" :class="{'hide': detail.status>=6}"><i class="ion-printer"></i>回复用户</button>
        </div>
    </div>

    <flow :isshow.sync=showFlow> </flow>

    <!-- <flowlist> </flowlist> -->
</div>
