<div class="side-message-navigation expanded">
    <div class="mail-messages-control side-message-navigation-item">
        <div class="panel-body">
          <div class="body-head">
          <div class="search-head">
            <div class="field-div">
              <div>
                 <label>反馈内容：</label>
                 <input type="text" name="suggest" placeholder="反馈内容">
              </div>
              <div>
                 <label>状态：</label>
                 <select class="" name="status">
                   <option value="-1">全部</option>
                   <option :value="item.id" v-for="item in userSuggestStatus">{{ item.name }}</option>
                 </select>
              </div>
            </div>
            <div class="button-div">
              <button type="button" class="btn btn-default btn-with-icon" v-on:click="bindList(0)"><i class="ion-ios-search-strong"></i>查询</button>
              <button type="button" class="btn btn-default btn-with-icon" v-on:click="cancelSearch()">取消</button>
            </div>
          </div>
            <div class="add-row-editable-table">
                <div class="social-profiles row clearfix">
                    <div class="games-icon" v-for="game in myGames">
                       <a class="sn-link" :class="{'connected':game.checked}"
                        target="_blank" v-on:click="searchGame(game)"><i class="socicon socicon-github"></i>
                        <span>{{game.name}}</span> <em class="ion-ios-close-empty sn-link-close"></em></a>

                    </div>
                    <div class="col-md-3 col-sm-4" v-show="myGames.length==0">
                         <a class="sn-link"> <span>请先授权游戏。。</span> </a>
                    </div>
                </div>
            </div>
            </div>
            <div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>id<span class="caret"></span></td>
                            <td>反馈内容</td>
                            <td>分类名称</td>
                            <td>所属游戏</td>
                            <td>反馈时间</td>
                            <td>当前状态</td>
                            <td>客服</td>
                            <td>更新时间</td>
                            <td>
                                操作
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="editable-row" v-for="item in roleList" @dblclick="showEdit(item.id)">
                            <td>{{item.id}}</td>
                            <td class="select-td content"><span class="editable" title="{{item.suggest}}">{{item.suggest}}</span></td>
                            <td><span class="editable">{{item.categoryFaq.name}}</span></td>
                            <td><span class="editable">{{item.game.name}}</span></td>
                            <td class="select-td"><span class="editable">{{item.createAt | formatDate}}</span></td>
                            <td class="select-td"><span class="editable">{{{item.status | formatFAQStatus}}}</span></td>
                            <td><span class="editable">{{item.fromUserName}}</span></td>
                            <td class="select-td"><span class="editable">{{item.updateAt | formatDate}}</span></td>
                            <td>
                                <div class="buttons">
                                    <button class="status-button btn btn-xs btn-primary" v-on:click="showEdit(item.id)">编辑</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <paging v-bind:total=total v-bind:size=size v-bind:page=page> </paging>
            </div>
        </div>
    </div>
</div>
