<div class="panel  with-scroll animated zoomIn" zoom-in="" style="z-index: 1050;" :class="{'show': isshow}">
  <div class="panel-heading clearfix">
    <label for="replyContent">
      <h3 class="panel-title">客服信息回复</h3></div>
  </label>
  <div class="panel-body" :class="{'hide':status==9}">
    <textarea class="form-control" placeholder="回复信息" id="replyContent" v-model="replyContent"></textarea>
    <div class="line"></div>
    <div class="line"></div>
    <button type="submit" class="btn btn-success submit" v-on:click="replyDo">回复</button>
  </div>
  <div class="panel-body">
    <div class="flow-list" v-for="(index,flow) in flowList">
      <div class="xh">
        <span>{{index+1}}</span>
      </div>
      <div class="from">
        <div class="customer" v-show="flow.sourceId==1">
          <h3><label>{{flow.fromUserName}}</label><span>回复 时间：{{flow.createAt | formatDate}}</span></h3>
          <p>{{{flow.content}}}</p>
        </div>
        <div class="user" v-show="flow.sourceId==0">
          <h3><label>用户</label><span>追问 时间：{{flow.createAt | formatDate}}</span></h3>
          <p>{{{flow.content}}}</p>
        </div>
        <div class="row reply-img">
          <div :id="'replysFile'+index" class="list-unstyled row">
            <a v-for="item in flow.files" data-pinterest-text="Pin it" data-tweet-text="share it on twitter" class="col-md-3"
            :href="item.url" :data-sub-html=flow.content>
              <img class="img-responsive" :src="item.url">
            </a>
          </div>
        </div>
      </div>
      <div class="to-button">
      </div>
    </div>
  </div>
</div>
</div>
</div>
