// @import "../../../assets/blur-admin/sass/app/_alerts.scss"
paging {
  position: relative;
  .btn-group {
    position: relative;
    .btn {
      min-width: 50px;
      border: 0px;
    }
    .btn:hover {
      color: #ec1500;
      border-color: #ec1500;
    }
    .totaldiv {
      float: right;
      padding: 10px;
      font-size: 15px;
    }
  }
  .hide {
    display: none;
  }
}
