.authority {
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        width: 50%;
        text-align: center;
        min-height: 200px;
        .bootstrap-tagsinput {
          height: 100%;
          margin: 10px;
          .label {
            margin: 10px;
            columns: hand;
          }
          a {
            display: block;
            max-width: 120px;
            text-align: center;
          }
          [data-role=remove]:after {
              content: "×";
              padding: 0 2px;
          }
          [data-role=right]:after {
              content: "√";
              padding: 0 2px;
          }
        }
      }
    }
  }
}
