<div class="authority">
    <table>
        <tr>
            <td>
                拥有的权限
            </td>
            <td>
                其他的权限
            </td>
        </tr>
        <tr>
            <td>
                <div class="bootstrap-tagsinput">
                  <a class="label label-primary" v-for="role in roleList" v-show="role.checked" v-on:click="removeRole(role.name)">{{ role.text }}<span data-role="remove"></span></a>
                </div>
            </td>
            <td>
                <div class="bootstrap-tagsinput">
                    <span class="label label-primary" v-for="role in roleList" v-show="!role.checked" v-on:click="addRole(role.name)" >{{role.text}}<span data-role="right"></span></span>
                </div>
            </td>
        </tr>
    </table>
</div>
