.messages .little-human .date {
	float:left;
	margin: 15px 10px 0 5px;
    font-size: 13px;
    white-space: nowrap;
}
.mail-messages-control .btn-group .more-1{
	margin-left: 65px;
}
.mail-messages-control .btn-group .more-2{
	margin-left: 50px;
}
.mail-messages-control .btn-group .more-3{
	margin-left: 50px;
}
.mail-messages-control .btn-group .more-4{
	margin-left: 50px;
}