<div class="side-message-navigation expanded">
    <div class="mail-messages-control side-message-navigation-item">
      <div class="panel-body">
        <div>
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>平台<span class="caret"></span></td>
                        <td>大区<span class="caret"></span></td>
                        <td>用户等级<span class="caret"></span></td>
                        <td>当前状态<span class="caret"></span></td>
                        <td>问题类型<span class="caret"></span></td>
                        <td>问题描述</td>
                        <td>查看详情</td>
                    </tr>
                    <tr class="editable-row" v-for="item in roleList">
                        <td class="ng-binding">{{item.id}}</td>
                        <td><span class="editable">{{item.channelName}}</span></td>
                        <td class="select-td"><span class="editable">{{item.gameRegion}}</span></td>
                        <td class="select-td"><span class="editable">{{}}</span></td>
                        <td class="select-td"><span class="editable">{{item.status}}</span></td>
                        <td class="select-td"><span class="editable">{{item.tags}}</span></td>
                        <td class="select-td"><span class="editable">{{item.content}}</span></td>
                        <td>
                            <div class="buttons">
                                <button class="status-button btn btn-xs btn-primary" v-on:click="showDetatil(item.id)">详情</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
          <paging v-bind:total=total v-bind:size=size v-bind:page=page> </paging>
        </div>
    </div> 
    </div>
</div>
