.globalAlert {
    position: fixed;
    top: 8px;
    left: auto;
    right: 8px;
}
// @import "../../../assets/blur-admin/sass/app/_alerts.scss"

.alert-show {
  display: block;
}

.alert-hide {
  display: none;
}
