<omolayout v-bind:actionId="actionId"></omolayout>


<div class="al-main">
    <div class="al-content">
        <content-top>
            <div class="content-top clearfix">
                <h1 class="al-title">{{pageName}}</h1>
                <ul class="breadcrumb al-breadcrumb">
                    <li><a v-link='{ path: "/home/index" }'>首页</a></li>
                    <li>{{pageName}}</li>
                </ul>
            </div>
        </content-top>
        <!-- uiView:  -->
        <div>
            <!-- uiView: undefined -->
           <router-view></<router-view>
        </div>
    </div>
</div>
