<div class="row mail-client-container transparent">
    <div class="col-md-12">
        <div ba-panel="" ba-panel-class="xmedium-panel mail-panel">
            <div class="panel panel-blur xmedium-panel mail-panel animated zoomIn" >
                <div class="panel-body" ng-transclude="">
                    <div class="letter-layout">
                        <menu></menu>
                        <router-view></<router-view>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

