<div class="side-message-navigation expanded">
    <div class="mail-messages-control side-message-navigation-item">
        <div class="panel-body">
            <!-- <div class="add-row-editable-table">
                <div class="social-profiles row clearfix">
                    <div class="col-md-3 col-sm-4" v-for="game in myGames">
                       <a class="sn-link" :class="{'connected':game.checked}"
                        target="_blank" v-on:click="searchGame(game)"><i class="socicon socicon-github"></i>
                        <span>{{game.name}}</span> <em class="ion-ios-close-empty sn-link-close" ng-mousedown="unconnect(item)"></em></a>

                    </div>
                    <div class="col-md-3 col-sm-4" v-show="myGames.length==0">
                         <a class="sn-link"> <span>请先授权游戏。。</span> </a>
                    </div>
                </div>
            </div> -->
            <div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>登录名</td>
                            <td>是否激活</td>
                            <td>姓名</td>
                            <td>邮箱</td>
                            <td>创建时间<span class="caret"></span></td>
                            <td>创建人</td>
                            <td>
                                操作
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="editable-row" v-for="(index,item) in userList">
                            <td>{{ index + 1 + (page + 1) * size - size }}</td>
                            <td><span class="editable">{{item.login}}</span></td>
                            <td><span class="editable">{{{item.activated | formatUserActivated}}}</span></td>
                            <td><span class="editable">{{item.firstName}}</span></td>
                            <td><span class="editable">{{item.email}}</span></td>
                            <td class="select-td"><span class="editable">{{item.createdDate | formatDate}}</span></td>
                            <td><span class="editable">{{item.createdBy}}</span></td>
                            <td>
                                <div class="buttons">
                                    <button class="status-button btn btn-xs btn-primary" v-on:click="showDetatil(item.login)">详情</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <paging v-bind:total=total v-bind:size=size v-bind:page=page> </paging>
            </div>
        </div>
    </div>
</div>
