<page-top>
    <div class="page-top clearfix ng-isolate-scope scrolled">
        <a href="" class="al-logo clearfix"><span>胡莱</span>客服系统</a>
        <a class="collapse-menu-link ion-navicon" v-on:click="toggleMenu"></a>
        <div class="search"><i class="ion-ios-search-strong"></i>
            <input id="searchInput" type="text" placeholder="Search for...">
        </div>
        <div class="user-profile clearfix">
            <div class="al-user-profile dropdown" v-bind:class="{ open: settingShow }" v-on:click="toggleSetting">
                <a class="profile-toggle-link dropdown-toggle">
                    <img src="../../../assets/vendor/assets/img/app/profile/Nasta.png"></a>
                <ul class="top-dropdown-menu profile-dropdown dropdown-menu">
                    <li><i class="dropdown-arr"></i></li>
                    <li><a v-link='{ path: "/home/profile" }' ><i class="fa fa-user"></i>个人信息</a></li>
                    <li><a v-link="{path:'/home/changepassword'}"><i class="fa fa-cog"></i>修改密码</a></li>
                    <li><a class="nav-link" href="#" class="signout" v-on:click="logout"><i class="fa fa-power-off"></i>退出</a></li>
                </ul>
            </div>
            <ul class="al-msg-center clearfix">
                <li uib-dropdown="" class="dropdown">
                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                        <span>5</span>
                        <div class="notification-ring"></div>
                    </a>
                    <div uib-dropdown-menu="" class="top-dropdown-menu dropdown-menu"><i class="dropdown-arr"></i>
                        <div class="header clearfix"><strong>Notifications</strong> <a href="">Mark All as Read</a> <a href="">Settings</a></div>
                        <a href="">See all notifications</a></div>
                </li>
                <li uib-dropdown="" class="dropdown">
                    <a href="" class="msg dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i><span>5</span>
                        <div class="notification-ring"></div>
                    </a>
                    <div uib-dropdown-menu="" class="top-dropdown-menu dropdown-menu"><i class="dropdown-arr"></i>
                        <div class="header clearfix"><strong>Messages</strong> <a href="">Mark All as Read</a> <a href="">Settings</a></div>
                        <a href="">See all messages</a></div>
                </li>
            </ul>
        </div>
    </div>
</page-top>
