<div class="panel-body">
    <div>
        <div class="add-row-editable-table">
            <button class="btn btn-primary" v-on:click="showDetatil('add')">增加</button>
        </div>
        <table class="table table-bordered table-hover table-condensed">
            <tbody id="categoryFaqThead">
                <tr>
                    <td name="id">id</td>
                    <td name="name">类型名称</td>
                    <td name="sort">排序id</td>
                    <td>操作</td>
                </tr>
                <tr class="editable-row" v-for="item in pageList">
                    <td>{{item.id}}</td>
                    <td><span class="editable">{{item.name}}</span></td>
                    <td class="select-td"><span class="editable">{{item.sort}}</span></td>
                    <td>
                        <div class="buttons">
                            <button class="btn btn-primary editable-table-button btn-xs" v-on:click="showDetatil(item.id)">编辑</button>
                            <button class="btn btn-danger editable-table-button btn-xs" v-on:click="deleteDo(item.id)">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <paging v-bind:total=total v-bind:size=size v-bind:page=page> </paging>
    </div>
</div>
<confirm :isshow.sync=confirmStatus :data.sync=id v-on:confirm-status="deleteData"> </confirm>
