.hide {
  display: none;
}

.show {
  display: block;
}

.al-main {
  position: relative;
  top: -30px;
}

// .edit-form {
//   margin: 20px 45px;
//
//   .buttons {
//     float: none;
//     text-align: right;
//     margin: 10px 10px 10px 0;
//
//     .btn {
//       margin-top: 3px;
//       background-color: #63bbb2;
//       border: none;
//       color: white;
//       width: 100px;
//       -webkit-transition: none;
//       transition: none;
//     }
//   }
// }

.form-container {
  padding: 15px 15px 10px;
  overflow-x: hidden;
  float: left;
  padding: 0 15px;
  position: relative;
  min-height: 550px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.12);
}

.form-info {
  padding-top: 15px;

  .from-centent {
    margin: 20px 45px;

    .buttons {
      float: none;
      text-align: right;
      margin: 10px 10px 10px 0;

      .btn {
        margin-top: 3px;
        background-color: #63bbb2;
        border: none;
        color: white;
        width: 100px;
        -webkit-transition: none;
        transition: none;
      }
    }
  }
}

.detail-group {
  margin: 10px 15px;
}
// 表单中不可编辑的效果
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  color: #803535;
  border: 0;
}
// 按游戏查询
.social-profiles {
  div {
    display: inline-block;
    min-width: 150px;
  }
}

// 列表查询
.search-head {
  margin-bottom: 20px;

  .field-div {
    display: inline-block;
    width: 90%;

    div {
      text-align: left;
      display: inline-block;
      // width: 33%;

      label {
        max-width: 120px;
      }

      input,
      select {
        width: 200px;
        color: #666;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: none;
        height: 34px;
        padding: 6px 12px;
      }
    }
  }

  .button-div {
    top: 20px;
    right: 20px;
    position: absolute;
    display: flex;
  }
}
