.switch-off {
  margin-left: -41px;

  .bootstrap-switch-handle-off {
    margin-left: 0;
  }
}

.switch-on {
  margin-left: 0;

  .bootstrap-switch-handle-off {
    margin-left: -41px;
  }
}

.form-group {
  .switch-container {
    display: block;
  }
}
